<?xml version="1.0" encoding="utf-8"?><configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Sandbox.Graphics" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.1.8213.17101" newVersion="0.1.8213.17101" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Sandbox.Game" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.1.8213.17119" newVersion="0.1.8213.17119" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>