<?xml version='1.0' encoding='UTF-8'?>
<Definitions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <Definition xsi:type="MyObjectBuilder_HandItemDefinition">
        <Id Type="HandItem" Subtype="TestModifierPainter" />
        <DisplayName>TestModifierPainter</DisplayName>
        <Icon>Textures\GUI\Icons\RedHerring.dds</Icon>
        <Size>
            <X>1.2</X>
            <Y>0.6</Y>
            <Z>0.3</Z>
        </Size>
        <Mass>0.5</Mass>
        <Model>Models\Weapons\Axe_OneHandSteel.mwm</Model>
        <PhysicalMaterial>Axe</PhysicalMaterial>
        <MaxStackAmount>1</MaxStackAmount>
        <BearerDefinition Type="MyObjectBuilder_EntityEquipmentComponent" Subtype="Humanoid" />
        <MaxDurability>5</MaxDurability>
        <Position>
            <Slot>MainHand</Slot>
        </Position>
        <StanceToBehavior>
            <StanceName>NormalMode</StanceName>
            <BehaviorId Type="MyObjectBuilder_EquiModifierToolBehaviorDefinition" Subtype="TestModifierPainter" />
        </StanceToBehavior>
    </Definition>

    <Definition xsi:type="MyObjectBuilder_EquiModifierToolBehaviorDefinition">
        <Id Type="EquiModifierToolBehaviorDefinition" Subtype="TestModifierPainter" />

        <Action>
            <Modifier Type="EquiModifierChangeColorDefinition" Subtype="TestModifierPainter" />
            <ActionHint>Add paint</ActionHint>
            <ItemAction Mode="TakeItem" Tag="Timber" Amount="1" />
            <Inventory>Internal</Inventory>
        </Action>
    </Definition>

    <Definition xsi:type="MyObjectBuilder_EquiModifierChangeColorDefinition" Copy="Append">
        <Id Type="EquiModifierChangeColorDefinition" Subtype="TestModifierPainter" />
        <CopyFrom Type="EquiModifierChangeColorDefinition" Subtype="ChangeColorBase" />

        <!-- Color mask to apply as a HSV shift from gray (with HUE_KEYCOLOR, HSV shift from default color without HUE_KEYCOLOR) -->
        <ColorMask x="0.25" y="0.75" z="-0.25" />
        
        <!-- Another modifier that must exist for this modifier to be added.  Either a Tag or a Type+Subtype combo -->
        <!-- This can be used on any modifier to add dependencies -->
        <ModifierDependency Tag="Paintable" />
    </Definition>
</Definitions>
